/*styles go here*/

/*p {
    color: red;
}*/

.header img {
  float: left;
  width: 100px;
  height: 100px;
}

.header h1 {
	font-size: 60px;
	position: relative;
}

.resume{
	height: 842px;
	width: 595px;
	display: block;
margin: auto;
}

.art{
	padding: 10px;
}

#icon{
	margin-top: 5px;
	display: flex;
	vertical-align: middle;
}

.concept{
  margin: auto;
}
/*
.name{
	font-family: 'Raleway' , sans-serif;
	font-size: 75px;
	display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-self: baseline;
}
}
*/
p {
	color: #4c4c4c;
    font-family: 'PT Serif', serif;
		text-align: center;
}

h1 {
		font-family: 'Raleway', sans-serif;
		text-align: center;
		font-size: 40px;
}

h2 {
		font-family: 'Red Hat Display', sans-serif;
		text-align: center;
}


body {
  background-color: #fff7f8
}

#container{
    width: 60%;
    margin: 0 auto;
}


.caption {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}

#footer {
    color: #4c4c4c;
    font-family: 'PT Serif', serif;
		text-align: center;
}

img {
	border: none;
}


/* NAVIGATION */


#nav {
    padding: 0;
	  list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
		display:block;
    color: #ffffff;
    background-color: #ffc0cb;
    font-weight: bold;
    text-align:center;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

#nav a:link, #nav a:visited {
	  display:block;
    color: #ffffff;
    background-color: #ffc0cb;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Raleway', sans-serif;
}

#nav a:hover, #nav a:active {
    background-color: #ffdae0;
    color: #4c4c4c;
}


.navigation {
	background-color: #ffc0cb;
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 450px){
	.navigation{
		flex-flow: row;
		justify-content: center;
	}
}

@media screen and (max-width: 600px){
	.navigation{
		flex-flow: column;
		justify-content: center;
	}
}

.image{
	margin-top: 20px;
}

/* GRID */

.clippings{
	background-image: url('images/cardsbackground.jpg');
	background-size: 200px;
	width:200px;
height: 200px;
}

.portfolio{
	background-image: url('images/cardsbackground.jpg');
	background-size: 200px;
	width:200px;
	height: 200px;
}

.inspiration{
	background-image: url('images/cardsbackground.jpg');
	background-size: 200px;
	width:200px;
	height: 200px;
}

.cards ul{
	display:flex;
	flex-flow:row;
	justify-content: center;
}

.boxlinks li{
	margin: 10px;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	font-weight: bold;
	text-align:center;
	font-size: 25px;
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	line-height: 90px;
}

.boxlinks a:link, .boxlinks a:visited {
    color: #ffffff;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Raleway', sans-serif;
}

@media screen and (min-width:1000px){
  .joke{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:20px;
    grid-template-areas:
    "a e"
		"b e"
		"c e"
		"d e"
  }
}

/*javascript starts here*/

#nav {
    display: block;
    list-style-type: none;
}


header {
    display: flex;
    flex-flow: row;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}


#nav {
    display: none;
}

@media screen and (min-width: 599px) {

  #nav {
  	background-color: #ffc0cb;
  	display: flex;
  	flex-direction: row;
    justify-content: space-around;
  }

  .menu-trigger{
    display:none;
  }


}

@media screen and (min-width: 599px){

    #nav ul {
        display: flex;
    }

		#nav {
		    display: flex;
		}

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

}

.menu-trigger a.icon {
  color: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.menu-trigger a:hover {
  background-color:#ffcce6;
  color: white;
}

/* Style the active link (or home/logo) */
.menu-trigger {
  background-color: #ffcce6;
  color: white;
}
